/*body{*/
/*    width: 100% ;*/
/*    height: 100% ;*/
/*}*/

/****** POLICE *****/

@font-face {
    font-family: 'merriweather';
    src: url("assets/fonts/merriweather/Merriweather-BlackItalic.ttf");
    src: url("assets/fonts/merriweather/Merriweather-Black.ttf"),
         url("assets/fonts/merriweather/Merriweather-Bold.ttf"),
        url("assets/fonts/merriweather/Merriweather-BoldItalic.ttf"),
        url("assets/fonts/merriweather/Merriweather-Italic.ttf"),
        url("assets/fonts/merriweather/Merriweather-Light.ttf"),
        url("assets/fonts/merriweather/Merriweather-LightItalic.ttf"),
        url("assets/fonts/merriweather/Merriweather-Regular.ttf");

}

@font-face {
    font-family: 'open_sans';
    src: url("assets/fonts/open_sans/static/OpenSans/OpenSans-Light.ttf");
}

/*HEADER*/

header{
    display: inline-flex;
    margin-top: 55px;
    align-items: center;
}

header img{
    width: 40px;
    height: 40px;
}

header span{
    padding-left: 5px;
    color: #ffffff;
    font-style: italic;
    font-family: 'merriweather', serif;
    font-size: 20px;
}

/**** MASTHEAD *****/

#masthead{
    background-image: url("images/foret.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 750px;
}

.container .block{
    display: flex;
}

.container .row .intro{
    margin-top: 225px;
    width: 50%;
}

.container .row .intro h1{
    font-family: 'open_sans', serif;
    color: #ffffff;
}

.container .row .intro p{
    font-family: 'open_sans', serif;
    color: #ffffff;
    font-size: 15px;
}

.container .row .phone{
    right: 200px;
    top: 230px;
    height: 660px;
}

/*<!-- Text Description -->*/

#description{
    height: auto;
    margin-top: 40px;
}

#description .container .row h1{
    font-family: 'open_sans', serif;
    color: #222626;
}

#description .container .row p{
    font-family: 'open_sans', serif;
    color: #b1b1b1;
}

/*<!-- Box Grid -->*/

#boxGrid{
    height: auto;
    margin-top: 100px;
}



.container .row .box-grid-item{
    padding: 25px;
    height: 280px;
}

.container .row .box-grid-item h2{
    color: #ffffff;
    font-family: 'open_sans', serif;
}

.container .row .box-grid-item p{
    color: #ffffff;
    font-family: 'open_sans', serif;
    margin-bottom: 85px;
    height: 70px;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
}

/*Box blue*/
.container .row .quality{
    background-color: #f5989d;
}
/*Box DArk blue*/
.container .row .built{
    background-color: #615f7d;
}

.container .row .built .links{
    font-family: 'open_sans', serif;
}

.container .row .clients{
    background-image: url("images/photo2.png");
}

.container .row .sign{
    background-image: url("images/photo3.png");
}
/*Box yellow*/
.container .row .pictures{
    background-color: #82ca9c;
}

/*<!-- Four Col -->*/


#fourcol{
    margin-top: 100px;
    /* margin-bottom: 160px; */
}

.container .information{
    border: none;
}

.container .information .titre{
    font-family: 'open_sans', serif;
    color: #222626;
    /* font-size: 52px; */
}

.container .information .detail .blockitems{
    font-family: 'open_sans', serif;
    margin-top: 50px;
    padding-right: 25px;
}
.container .information .detail .blockitems h2{
    font-size: 20px;
}

/*<!-- Full Image -->*/

#fullimage{
    background-image: url("images/Voiture.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.container .row .voiture{
    margin-top: 300px;
    margin-bottom: 120px;
}

.container .row .voiture .power h1{
    font-family: 'open_sans', serif;
}

.container .row .voiture .compliment p{
    font-family: 'open_sans', serif;
    margin-bottom: 35px;
    height: 100px;
    text-overflow: ellipsis;
    width: 45%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
}

/*<!-- Colour -->*/
#colour{
    background-color: #82ca9c;
    width: 100%;
}

.container .row .based{
    margin-top: 100px;
    margin-bottom: 70px;
}

/*<!-- Buying  -->*/
#buying{
    margin-top: 100px;
    margin-bottom: 70px;
    font-family: 'open_sans', serif;
}

.container .row .personnal{
    margin-right: 30px;
}

.container .row .personnal h4 span{
    padding: 20px;
}

.container .row .personnal .button{
    padding: 10px;
}

.container .row .personnal .button2{
    margin-top: 20px;
}

.container .row .personnal h2{
    margin-top: 20px;
}

/*FOOTER*/
#footer{
    background-color: #192431;
    font-family: 'open_sans', serif;
}


/****************** Responsive ************************/


@media (min-width:320px) {

    /***************** Banner ***************/

    #masthead{
        height: 100%;
        background-size: cover;
    }

    .container .row .phone{
        display: none;
    }

    #masthead .container{
        max-width: 90%;

    }

    header img {
        width: 120px;
        height: 120px;
    }

    header span{
        font-size: 60px;
    }

    .container .row .intro{
        margin-top: 70px;
        margin-bottom: 70px;
        width: 100%;
    }

    .container .row .intro h1{
        font-size: 80px;
    }

    .container .row .intro p{
        font-size: 40px;
    }

    /*********** description ***************/

    #description .container{
        max-width: 90%;
    }

    #description .container .row{
        flex-direction: column;
    }

    #description .container .row .col-md-6{
        width: 100%;
    }

    #description .container .row h1{
        font-size: 70px;
    }

    #description .container .row .reactif {
        width: 100%;
    }

    #description .container .row p{
        font-size: 50px;
    }

    /*********** boxGrid ****************/

    #boxGrid .container{
        max-width: 90%;
    }

    #boxGrid .container .row{
        flex-direction: column;
    }

    #boxGrid .container .row .col-md-4{
        width: 100%;
    }

    #boxGrid .container .row .col-md-8{
        width: 100%;
    }


    /***** detail ********/

    .card-body.detail .row{
        flex-direction: column;
    }

    .container .information .detail .blockitems{
        width: 100%;
    }
}

/****** tablette *****/

@media (min-width:768px) {
    /***** header ******/
    header img {
        width: 40px;
        height: 40px;
    }

    header span {
        font-size: 30px; 
    }

    /**** banner ***/

    .container .row .intro h1 {
        font-size: 55px;
    }

    .container .row .intro p {
        font-size: 25px;
    }

    #description .container .row h1 {
        font-size: 55px;
    }

    #description .container .row p {
        font-size: 25px;
    }
}


@media (min-width:1366px) {

    /***************** Banner ***************/

    #masthead{
        height: 750px;
        background-size: contain;
    }

    .container .row .phone{
        display: block;
    }

    #masthead .container{
        max-width: auto;

    }

    header img {
        width: 40px;
        height: 40px;
    }

    header span{
        font-size: 20px;
    }

    .container .row .intro {
        margin-top: 225px;
        margin-bottom: 0px;
        width: 50%;
    }

    .container .row .intro h1{
        font-size: calc(1.375rem + 1.5vw);
    }

    .container .row .intro p{
        font-size: 14px;
    }

    /*********** description ***************/

    #description .container .row{
        flex-direction: row;
    }

    #description .container .row .col-md-6{
        width: 50%;
    }

    #description .container .row h1{
        font-size: calc(1.375rem + 1.5vw);
    }

    #description .container .row .reactif {
        width: 50%;
    }

    #description .container .row p{
        font-size: var(--bs-font-sans-serif);
    }

    /*********** boxGrid ****************/

    #boxGrid .container .row{
        flex-direction: row;
    }

    #boxGrid .container .row .col-md-4{
        width: 33.33333333%;
    }

    #boxGrid .container .row .col-md-8{
        width: 66.66666667%;
    }

}

